name: revisi_splash_screen_sadam_irham
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - gambar/gambar1.png
    - gambar/gambar2.png
    - gambar/gambar3.png
    - gambar/pengguna.png
